.footer{
    color: white;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
}
.ft-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
    gap: 80px;
}
.left h1{
    font-family: "IM Fell English SC", serif;
    font-size: 48px;
    color: white;
}
.left span{
    color:#f00;
    font-size: 15px;
    font-family: "IM Fell English SC", serif;
    text-transform: capitalize;
}
.left, .right, .middle{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.middle ul li {
    list-style:none;
}
.right ul{
    list-style: none;
}
.footer h2{
    color: white;
}
.sicons{
    width: 80px;
    display: flex;
    gap: 20px;
}
.sicons img:hover{
    background-color: #f00;
    border-radius: 50%;
}
.middle ul li{
    text-transform: capitalize;
}
@media (max-width:480px) {
    .footer{
        color: white;
        background-color: #323232;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 8vw;
        padding-top: 80px;
    }
    .ft-content{
        width: 100%;
        display: grid;
        grid-template-columns: 2fr;
        gap: 40px;
    }
    .left h1{
        font-family: "IM Fell English SC", serif;
        font-size: 35px;
        color: white;
    }
    .left, .right, .middle{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
    .middle ul li {
        list-style:none;
    }
    .right ul{
        list-style: none;
    }
    .footer h2{
        color: white;
    }
    .sicons{
        width: 80px;
        display: flex;
        gap: 10px;
    }
    .sicons img:hover{
        background-color: #f00;
        border-radius: 50%;
    }
    .middle ul li{
        text-transform: capitalize;
    }
}
